# Dependencias
Backend/node_modules/
Frontend/node_modules/

# Builds
Backend/dist/
Frontend/build/

# Ambientes
Backend/.env*
!Backend/.env.example
!Backend/.env.production.example
Frontend/.env*
!Frontend/.env.example

# Logs e caches
**/*.log
.DS_Store
